<div id="accordion">
  <div class="card bg-transparent">
    <div class="card-product justify-content-center" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Served Orders
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
      <div class="">
        <ul>
          <% @orders.each do |order| %>
            <% if order.status === "open"  %>
              <li><%= order.item.name %></li>
              <% end %>
          <% end %>
        </ul>
      </div>
      </div>
    </div>
  </div>
  <div class="card bg-transparent">
    <div class="card-product justify-content-center" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Open Orders
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <div class="">
          <ul>
            <% @orders.each do |order| %>
              <% if order.status === "served"  %>
              <li><%= order.item.name %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
