<div class="modal fade" id="FINAL" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog-centered text-center" role="document">
    <div class="modal-content border-0 m-2" style="border-radius: 20px;">
      <div class="modal-header border-0">
      </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      <div class="modal-body">
        <h1 >Thank You!</h1>
        <p class="text-muted">We hope to see you soon again!</p>
      </div>
      <div class="modal-footer border-0 justify-content-center">
        <div class="button">
          <%= link_to "close" , root_path ,{:style=>'color:white; text-decoration:none;'} %>
        </div>
      </div>
    </div>
  </div>
</div>
