<div class="cards">
  <div class="menu d-flex align-items-center justify-content-center">
    <strong><h1>Checkout</h1></strong>
  </div>
  <%= render partial: "collapse" %>
  <div class="d-flex justify-content-center">
      <%= link_to "NEW ORDER" , menu_path ,{:style=>'color:white; text-decoration:none;',:class=>'buttonx text-nowrap w-auto'} %>
      <button type="button" class="buttonx" style="border-radius:20px; height: 51px;" data-toggle="modal" data-target="#FINAL">PAY</button>
  </div>
</div>
<%= render partial: "modal" %>
