<div class= "banner">

  <h1 class= "order-title">Your Order</h1>
  <div class= "emoji">🌶</div>
</div>
<div class="cards" style="box-shadow: 0 0 15px rgba(0,0,0,0.2);; margin: 4em 1em 3em 1em; border-radius: 10px; box">
  <div class="p-2">
    <%= render partial: "list" %>
  </div>
</div>
  <div class="d-flex justify-content-center">
      <%= link_to "NEW ORDER" , menu_path ,{:style=>'position:sticky; color:white; text-decoration:none; border-radius:30px;',:class=>'btn-primary vw-100 m-1 p-3
       text-nowrap text-center'} %>
      <button type="button" class="btn-primary vw-100 m-1 text-nowrap" style="box-shadow: 0 0 0px rgba(0,0,0,0);; position:sticky; color:white; text-decoration:none; border-radius:30px;" data-toggle="modal" data-target="#FINAL">PAY</button>
  </div>

<%= render partial: "modal" %>
