// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$redx: #A26769;
$bluex: #084C61;
$light-bluex: #7194A9;
$yellowx: #E9C46A;
$orangex: #E67E22;
$greenx: #2A9D8F;
$grayx: #0E0000;
$light-grayx: #DFDBDB;
