.pay_button {
  // flex-direction: column;
  padding: 14px 14px;
  height: 51px;
  // left: 15px;
  // right: 17px;
  // bottom: 22px;
  background: #2A9D8F;
  border-radius: 100px;
  color: white;

}

.pay_button:hover {
  text-decoration: none;
  color: white;
  background: #17524b;
}

.center-button {
  align-items: center !important;

}

.delete_button {
  // flex-direction: column;

  height: 51px;
  // left: 15px;
  // right: 17px;
  // bottom: 22px;
  background: #bb3131;
  border-radius: 100px;
  color: white;
}

.delete_button:hover {
  text-decoration: none;
  color: white;
  background: #fa0000;
  transition: 5ms;
}



.order-details {
  overflow: hidden;
  // height: 150px;
  background: #D9DBF1;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: top;
  margin-top: 10px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px 20px;

}

.order-info {
  padding-left: 30px;
}

// .quantity {
//   padding-left: 10px;
// }

.fa-trash:hover {
  color: red;
}
