<div class="container justify-content-center background">
  <div class="d-flex justify-content-center" >
    <h1 style="margin-top: 30px;">Current Orders</h1>
  </div>

  <div class="p-2">
    <%= render partial: "list" %>
  </div>
</div>
