<div class="background" style="background-color: #084c61;">
  <div class= "banner_owner">
    <h1 class= "order-title">My Orders</h1>
    <div class= "emoji_owner">🥑</div>
  </div>
  <div class="container justify-content-center background-color: #084c61">
    <div style="margin-top: 50px;">
      <%= render partial: "list" %>
    </div>
  </div>
    <div class="d-flex justify-content-center stick-bottom">
      <%= link_to "Back", owner_path, class: "button" %>
    </div>
</div>
