<div class= "body" >
    <div class= "main-container">
    <div class="homepage-container">
      <h1 class= "restaurant-name">"Tico-Taco"</h1>
      <h3 class = "restaurant-subtitle">🌮 Taquería 🌮</h3>
        <div class="d-flex flex-column">
          <div class= "owner-home-page-buttons">
            <%= link_to "My Menu", owner_menu_path %>
          </div>
          <div class= "owner-home-page-buttons-second" >
            <%= link_to "Add a Table", new_table_path %>
          </div>
          <div class= "owner-home-page-buttons-third" >
            <%= link_to "Orders", owner_orders_path %>
          </div>
        </div>
    </div>
  </div>
  <div class= "footer">
    <p>Powered by ReStrong</p>
  </div>
</div>
