<div class="container justify-content-center background">
  <div class="d-flex justify-content-center" >
    <h1 style="margin-top: 30px;">Current Orders</h1>
  </div>

  <div class="p-2">
    <%= render partial: "list" %>
  </div>

  <div class="d-flex justify-content-between pr-2 pl-2">
    <%= link_to "Create Item", new_item_path, class: "btn btn-primary" %>
    <%= link_to "Create Table", new_table_path, class: "pay_button" %>
  </div>
</div>
