.banner {
  background-color: rgb(233, 196, 106);
  height: 20vh;
  padding-top: 20px;
}
.banner_owner {
  background-color: rgb(162, 103, 105);
  height: 20vh;
  padding-top: 20px;
}
.order-title {
  font-family: "Holtwood One SC";
  font-size: 30px;
  text-align: center;
}
.emoji {
  background-color: rgb(162, 103, 105);
  border-radius: 50%;
  padding: 20px;
  font-size: 60px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  transform: translateY(11px);
}
.emoji_owner {
  background-color: rgb(233, 196, 106);
  border-radius: 50%;
  padding: 20px;
  font-size: 60px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  transform: translateY(11px);
}
.cards-container {
  margin-top: 20px;
}
.delete_button {
  position: fixed;
  bottom: 30px;
  left: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
}
.pay_button {
  position: fixed;
  bottom: 30px;
  right: 20px;
  padding: 14px
}
