.cards {
  flex-direction: row;
  align-items: stretch;
  background-color: #E5E5E5;
}

.cards h1 {
  text-align: center;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: #D9DBF1;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 10px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;

}

.card-product-infos {
  color:black;
}

.card-product a:hover {
  text-decoration: none;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
