<div class="container">
  <h1>Menu</h1>
  <ul>
    <% @menu_items.each do |menu_item| %>
      <li>
      <%= menu_item.name %>
      <%= menu_item.description %>
      <%= menu_item.price %>
      </li>
    <% end %>
  </ul>
</div>
