<div class="container">
  <h1>Menu</h1>
  <ul>
    <% @menu_items.each do |menu_item| %>
      <li>
      <p><strong>Name: </strong> <%= menu_item.name %>
      <strong>Description: </strong><%= menu_item.description %>
      <strong>Price: </strong> <%= menu_item.price %>€</p>
      </li>
    <% end %>
  </ul>
</div>
