
<div class= "body" >
    <div class= "main-container">
    <div class="homepage-container">
      <% if current_user %>
      <h4 class= "homepage-title">Hello <%= current_user.first_name%>, <br>welcome to<br></h4>
      <%end %>
      <h1 class= "restaurant-name">"Tico-Taco"</h1>
      <h3 class = "restaurant-subtitle">🌮 Taquería 🌮</h3>
      <div class="d-flex justify-content-center">
          <%= link_to "Go To Menu", menu_path, class: "menu-button" %>
      </div>
    </div>
  </div>
  <div class= "footer">
    <p>Powered by ReStrong</p>
  </div>
</div>
