.total-sum {
  justify-content: end;
  margin-right: auto;
}

.background {
  background-color: #084c61;
  height: 100%;
  // padding-bottom: 30%;
  min-height: 100vh;

}

.card-header {
  background-color: $grayx;
  border-top-left-radius: 9px !important;
  border-top-right-radius: 9px !important;
  margin-top: 16px;
}

.open-card {
  background-color: $grayx;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.d-content {
  display: contents;
}

.card-body-preparing {
  background: rgba(233,196,106,0.85);
  // opacity: 0.9;
}

.card-body-ready{
  background: rgba(165,108,110,0.75);
  color: #785455;
  // opacity: 0.9;
  // border-bottom-left-radius: 4px;
  // border-bottom-right-radius: 4px;
}

.center-p-tag {
  margin-bottom: 0px;
  align-items: center;
  justify-content: center;
  display: flex;
}

#row {
  padding: 0 10px;
}
