.total-sum {
  justify-content: end;
  margin-right: auto;
}

.background {
  background-color: #7194A9;
  height: 100%;
  // padding-bottom: 30%;
}

.card-header {
  background-color: $grayx;
  border-top-left-radius: 9px !important;
  border-top-right-radius: 9px !important;
  margin-top: 12px;
}

.open-card {
  background-color: $light-grayx;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}
