.card-body#owner-menu-text-color {
  color: white;
}


#my-menu-buttons-owner {
  margin-bottom: 15px;
}
.new-item-button {
  padding: 16px 0px;
  height: 51px;
  background: #2A9D8F;
  border-radius: 100px;
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
}
