<div class="modal fade" id="FINAL" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top:40vw;">
  <div class="modal-dialog text-center" role="document">
    <div class="modal-content border-0 m-2" style="border-radius: 20px;">
      <div class="modal-header border-0">
      </div>
      <div class="modal-body">
        <h4> Item </h4>
        <p class="text-muted">is added to Your Order!</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="button border-0" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<%# <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> %>
