  <div class="cards">
  <div class="menu">
    <%= link_to(destroy_user_session_path, style: "color: #a26769;", method: :delete, id:"log-out-button") do %>
      <i class="fas fa-sign-out-alt fa-2x"></i>
    <% end %>
    <strong><h1>Menu</h1></strong>
  </div>

  <%= render partial: "accordion" %>

  <% if @order.present? %>
     <div class="d-flex justify-content-center stick-bottom">
      <%= link_to "My Order", order_path(@order), class: "button" %>
    </div>
  <% end %>
</div>
<%= render partial: "modal" %>
