.button {
  // flex-direction: column;
  padding: 16px 140px;
  height: 51px;
  // left: 15px;
  // right: 17px;
  // bottom: 22px;
  background: #2A9D8F;
  border-radius: 100px;
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
}

.buttonx {
  // flex-direction: column;
  padding: 16px 56px;
  height: 51px;
  // left: 15px;
  // right: 17px;
  // bottom: 22px;
  background: #2A9D8F;
  border-radius: 100px;
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0; ;
}
.button:hover {
  text-decoration: none;
  color: white;
  background: #17524b;
}

.center-button {
  align-items: center !important;

}
.submit {
  position:sticky;
  color:white;
  text-decoration:none;
  border-radius:30px;
  border: 0px;
}
li:last-child {border: 0px;}
// ejofejio
