.button {
  // flex-direction: column;
  padding: 16px 140px;
  height: 51px;
  // left: 15px;
  // right: 17px;
  // bottom: 22px;
  background: #2A9D8F;
  border-radius: 100px;
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
}

.buttonx {
  // flex-direction: column;
  padding: 16px 70px;
  height: 51px;
  // left: 15px;
  // right: 17px;
  // bottom: 22px;
  background: #2A9D8F;
  border-radius: 100px;
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0; ;
}
.button:hover {
  text-decoration: none;
  color: white;
  background: #17524b;
}

.center-button {
  align-items: center !important;
}

.submit {
  position:sticky;
  color:white;
  text-decoration:none;
  border-radius:30px;
  border: 0px;
}

// ejofejio

.button-submit {
  padding: 16px 70px;
  height: 51px;
  background: #2A9D8F;
  text-align: center;
  border-radius: 100px;
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: none;
  justify-items: auto;
}

.button-submit-form {
  padding: 7px 9px;
  height: 100%;
  background: #a26769;
  border-radius: 10px;
  color: white;
  border: none;
  font-size: small;
  align-items: center;
}

.disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.back-button {
  padding: 6px 10px;
    background: #084c61;
    border-radius: 7px;
    color: white;
    margin-top: 15px;
    align-items: center;
    font-weight: bolder;
}

.button-to-owner {
  // flex-direction: column;
  padding: 16px 140px;
  height: 51px;
  background: #a26769;
  border-radius: 100px;
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
}
